.app-title {
  color: red;
  &:hover {
    color: blue;
  }
}
.loader-hidden {
  display: none;
}
.loader-active {
  display: block;
}
.disabled, .disabled a {
  color: #808080;
  cursor: not-allowed;
  pointer-events: none;
}

.example-appear {
  position: absolute;
  left: -100%;
  z-index: 2;
  -webkit-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  -ms-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out; }

.example-appear.example-appear-active {
  left: 0%;
  margin-left: 10px; }
